h1 { 
    size: 70px;
    color: black;
}

h2 { 
    size: 100px;
    color: gray;
}


body {
    
    background-image: url("Fondo_Estadio.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;


}
